/* element selection */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

/* class selection */

.navbar {
    margin-top: 10px;
    padding: 20px 10px;
    height: 80px;
    margin-bottom: 40px;
}

.nav-link, .navbar-brand {
    color: #000000;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav {
    align-self: right;
}

.team-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    padding: 20px;
}
  
.team-member {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: calc(50% - 20px); 
}
  
.team-member:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
  
.team-member img {
    width: 100%;
    height: auto;
    border-radius: 0;
    margin-bottom: 10px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}
  
.team-member h3 { 
    font-size: 1.2rem;
    color: #333;
    margin-top: 0;
}
  
.team-member p {
    font-size: 0.9rem; 
    color: #666;
}

.grad {
    background-image: linear-gradient(to right, #5de0e6 , #195AFD);
}

.white {
    color:white;
}

.left {
    text-align: left;
}

.main-block {
 width: 80%;
 margin: auto;
 padding-left: 22px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
}
.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-section img {
    max-width: 100%;
    height: auto;
}

/* id selection */

#about-header {
 width: 80%;
 margin-right: none;
 margin: auto;
}

#white {
    color:white;
}

#black {
    color:black;
}