<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarketMind</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" id="about-header">
        <div class="container-fluid no-left">
          <a class="navbar-brand" href="/">MarketMind</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse right" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/market">Current Market</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/portfolio">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/resources">Learn More</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>



    <div class="flexbox container-fluid main-block">
      <!-- search bar -->

      <div class="text-section" id="full">
        <form method="POST" action="/market" autocomplete="off" class="text-section" id="full">
          <div class="form-group">
            <label class="left block" for="companyName">Type Below</label>
            {% if form.companyName.errors %}
            {{ form.companyName(class="form-control form-control-lg is-invalid") }}
            <div>
                {% for error in form.companyName.errors %}
                <span>{{ error }}</span>
               {% endfor %}
            </div>
            {% else %}
            <div class="input-container">
              {{ form.companyName(class="") }}
              <div class="form-group button-group center">
                {{ form.submit(id="input-button", class="btn") }}
              </div>
            </div>
            {% endif %}
          </div>
        </form>

        <div class="display-graph center">
          {% if plot_html %}
            <!-- <img id="full" src={{url}} alt="my plot"> -->
            {{ plot_html | safe }}
          {% else %}
            <img id="full" src="../static/images/200w.gif" alt="my plot">
          {% endif %}
        </div>
      </div>

      <!-- table -->
      <div class="text-section no-right" id="full">
        <p> A table should go here that shows the users ticket search</p>
        <table>
          <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Price</th>
            <th>Other Data</th>
          </tr>
          <tr class="stock">
            <td>{{ ticket }}</td>
            <td>{{ name }}</td>
            <td>{{ value }}</td>
          </tr>
        </table>
        <form method="POST" action="/portfolio" class="text-section">
          <div class="form-group">
            <div class="input-container">
              <div class="form-group button-group center">
                {{ form.submit(id="input-button", class="btn") }}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>  
</body>
</html>