<div class="flexbox container-fluid main-block">
    <!-- search bar -->
    <div class="text-section" id="full">
      <p class="left" id="black">What company would you like to see?</p>
      <div class="input-container">
        <span class="icon search" onclick="showAlert()">🔍</span>
        <input type="text" id="searchInput" placeholder="Type to search" oninput="toggleClearButton(this)">
        <span class="icon clear" id="clearButton" onclick="clearInput()">❌</span>
      </div>
      <div class="display-graph center">
        <img id="full" src="/static/images/200w.gif">
        <p class="footnote">placeholder image and placeholder text</p>
      </div>
    </div>